# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos
.env
.env.local
.env.*.local

# Builds y distribuciones
dist/
build/
out/

# Cache
.cache/
.next/
coverage/
.tmp/

# Archivos del sistema
.DS_Store
Thumbs.db
